/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

// Encoders

&sensors { triggers-per-rotation = <30>; };

&left_encoder { steps = <60>; };

&right_encoder { steps = <60>; };

#define BASE 0
#define LOWER 1
#define RAISE 2
#define ADJUST 3

/ {
    // Activate ADJUST layer by pressing raise and lower

    conditional_layers {
        compatible = "zmk,conditional-layers";

        adjust_layer {
            if-layers = <2 2>;
            then-layer = <3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        backspace {
            bindings = <&kp BACKSPACE>;
            key-positions = <32 31>;
        };

        delete {
            bindings = <&kp DELETE>;
            key-positions = <27 33>;
        };

        esc {
            bindings = <&kp ESCAPE>;
            key-positions = <25 41>;
        };
    };

    behaviors {
        caps: caps {
            compatible = "zmk,behavior-caps-word";
            label = "CAPS";
            #binding-cells = <0>;
            continue-list = <POUND MINUS BACKSPACE UNDERSCORE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            display-name = "Base";

            // ------------------------------------------------------------------------------------------------------------
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |       |
            // |  ESC  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   | BKSPC |
            // |  TAB  |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |  MUTE  |  |       |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //               | GUI | ALT  | CTRL | LOWER|  ENTER |  | SPACE | RAISE| CTRL  | ALT   | GUI  |

            bindings = <
&gresc            &kp N1  &kp N2    &kp N3        &kp N4            &kp N5                                 &kp N6  &kp N7     &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB           &kp A   &kp W     &kp E         &kp R             &kp T                                  &kp Y   &kp U      &kp I      &kp O     &kp P     &kp BSPC
&kp LEFT_SHIFT    &kp Q   &kp S     &kp D         &kp F             &kp G                                  &kp H   &kp J      &kp K      &kp L     &kp SEMI  &kp SQT
&kp LEFT_CONTROL  &kp Z   &kp X     &kp C         &kp V             &kp B   &kp LC(M)    &kp C_PLAY_PAUSE  &kp N   &kp M      &kp COMMA  &kp DOT   &kp FSLH  &kp RSHFT
                          &kp LGUI  &kp LEFT_ALT  &kp LEFT_CONTROL  &mo 0   &kp SPACE    &kp ENTER         &mo 0   &kp RCTRL  &kp LALT   &kp RGUI
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp UP DOWN>;
        };

        arc_layer {
            display-name = "Base";
            bindings = <
&gresc            &kp N1  &kp N2    &kp N3  &kp N4  &kp N5                                       &kp N6  &kp N7     &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB           &kp A   &kp W     &kp E   &kp R   &kp T                                        &kp Y   &kp U      &kp I      &kp O     &kp P     &kp BSPC
&kp LEFT_SHIFT    &kp Q   &kp S     &kp D   &kp F   &kp G                                        &kp H   &kp J      &kp K      &kp L     &kp SEMI  &kp SQT
&kp LEFT_CONTROL  &kp Z   &kp X     &kp C   &kp V   &kp B         &kp LC(M)    &kp C_PLAY_PAUSE  &kp N   &kp M      &kp COMMA  &kp DOT   &kp FSLH  &kp RSHFT
                          &kp LGUI  &kp R   &kp C   &kp LEFT_ALT  &kp SPACE    &kp ENTER         &tog 1  &kp RCTRL  &kp LALT   &kp RGUI
            >;

            sensor-bindings =
                <&inc_dec_kp C_VOL_UP C_VOL_DN>,
                <&inc_dec_kp UP DOWN>;
        };
    };
};
